.textbox {
    background-color: rgba(245,245,220,.5);
    width: fit-content;
    height: fit-content;
    padding: 10px;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    font-size: 1.5em;
    background-color: black;
    padding: 10px; 
}
nav {
    color: black;
    text-align: center;
}
nav:hover {
    color: #21880c;
    text-shadow: .5px .5px #4e8a42;
}
body {
    background-image: url('Images/hiking_overlook.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    display: block;
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
}

text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

h1 {
    font-size: 3.5em;
    text-shadow: 2px 2px #f9fcf7;
    text-align: center;
    padding-top: .25em;
    padding-bottom: .5em;
}
label {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
}
input {
    padding: 4px 20px;
    font-size: 1em;
    border: 1px solid black; 
}

button {
    color: #f9fcf7;
    background-color: #21880c;
    font-size: 19px;
    border: 2px solid #207e2b;
    padding: 10px 30px;
    cursor: pointer
}

button:hover {
    color: #f9fcf7;
    background-color: rgb(3, 36, 6);
}